@font-face {
    font-family: 'Monrope';
    src: url('../Manrope/static/Manrope-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Monrope';
    src: url('../Manrope/static/Manrope-ExtraBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Monrope';
    src: url('../Manrope/static/Manrope-ExtraLight.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
  }

  @font-face {
    font-family: 'Monrope';
    src: url('../Manrope/static/Manrope-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
  }
  @font-face {
    font-family: 'Monrope';
    src: url('../Manrope/static/Manrope-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
  }
  @font-face {
    font-family: 'Monrope';
    src: url('../Manrope/static/Manrope-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
  }
  @font-face {
    font-family: 'Monrope';
    src: url('../Manrope/static/Manrope-SemiBold.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
  }
  
  body {
    font-family: 'Monrope', sans-serif;
  }
  